ec2-terraform/.terraform/
ec2-terraform/.terraform.lock.hcl
ec2-terraform/terraform.tfstate
ec2-terraform/terraform.tfstate.backup

eks-terraform/.terraform/
eks-terraform/.terraform.lock.hcl
eks-terraform/terraform.tfstate
eks-terraform/terraform.tfstate.backup
application/frontend

test-pos.yaml
test-nginx.yaml
test-ingress.yaml
